* {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
}

a:hover {
  opacity: 0.3;
}

.header {
  background-color: #000000;
}

.header img {
  display: block;
  max-width: 30%;
  margin: auto;
  padding: 20px 20px;
}

.about,
.about desc {
  display: block;
  font-size: 1.6em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 15px;
  padding: 25px, 0;
}

aside {
  width: 40%;
  padding-left: 15px;
  margin: 25px;
  float: right;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 40px;
}


.bio > .bio_pic img{
  width:25%;
  border-radius: 15%;
  display: block;
  margin: 25px auto;
  padding: 50px 25px 25px 25px;
}

.bio > .bio_pic > .bio_desc p{
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  margin: 30px;
  padding: 30px;
}