* {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
}

a:hover {
  opacity: 0.3;
}

.header {
  background-color: #000000;
}

.header img {
  display: block;
  max-width: 30%;
  margin: auto;
  padding: 20px 20px;
}

.about,.about desc {
  
  display: block;
  font-size: 1.6em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 15px;
  padding: 25px, 0,;
}



aside {
  width: 40%;
  padding-left: 15px;
  margin: 15px;
  float: right;
  
}

